In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [108]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1046,tt1931533,15000000,19422261,Seven Psychopaths,Colin Farrell|Sam Rockwell|Christopher Walken|...,Martin McDonagh,They Won't Take Any Shih Tzu.,A struggling screenwriter inadvertently become...,110,Comedy|Crime|Thriller,Blueprint Pictures|CBS Films|British Film Inst...,9/7/2012,6.6,2012
77,tt1754656,64000000,97571250,The Little Prince,Jeff Bridges|Rachel McAdams|Paul Rudd|Marion C...,Mark Osborne,Growing up isn't the problem... forgetting is.,Based on the best-seller book 'The Little Prin...,92,Adventure|Animation|Fantasy,Onyx Films|Orange Studios|CityMation|On Entert...,7/29/2015,7.5,2015
463,tt0427152,69000000,86387857,Dinner for Schmucks,Steve Carell|Paul Rudd|Stephanie Szostak|Jemai...,Jay Roach,Takes One To Know One.,Rising executive Tim Wagner works for a boss w...,114,Comedy,Paramount Pictures|DreamWorks SKG|Spyglass Ent...,7/30/2010,5.4,2010
1477,tt0430357,135000000,163794509,Miami Vice,Jamie Foxx|Colin Farrell|Gong Li|Luis Tosar|Na...,Michael Mann,No Law. No Rules. No Order.,Miami Vice is a feature film based on the 1980...,134,Action|Adventure|Crime|Thriller,Universal Pictures|Forward Pass|Motion Picture...,7/27/2006,5.7,2006
1201,tt1272878,61000000,131940411,2 Guns,Denzel Washington|Mark Wahlberg|Paula Patton|B...,Baltasar KormÃ¡kur,"2 Guns, 1 Bank.",A DEA agent and an undercover Naval Intelligen...,109,Action|Crime|Drama|Comedy|Thriller,Universal Studios|Marc Platt Productions|Emmet...,8/2/2013,6.6,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [88]:
answers = {} 
profit = data.revenue - data.budget
GenresDict = {}
Actors = {}

def MonthCounter(s):
    if s[1] == '/':
        return s[:1]
    return s[:2]

def SummerFilms(s):
    if (s[0] > '5') & (s[0] < '9'):
        return "Фильм вышел летом"
    return "Фильм вышел не летом"

def WinterFilms(s):
    if (s[0] < '3') | (s[:2] == '12'):
        return 1
    return 0

def ActorCount(line):
    s = line
    line = line.split('|')
    for actor in line:
        if actor in Actors.keys():
            Actors[actor] += 1
        else:
            Actors[actor] = 1
    return s
 
def GenreCount(line):
    s = line
    line = line.split('|')
    for genre in line:
        if genre in GenresDict.keys():
            GenresDict[genre] += 1
        else:
            GenresDict[genre] = 1
            
def FindCage(line):
    if 'Nicolas Cage' in line:
        return 'Nicolas Cage'
    return line

def FindAction(line):
    if 'Action' in line:
        return 'Action'
    return line

def WinterFilms23(s):
    if (s[0] < '3') | (s[:2] == '12'):
        return 'Winter'
    return s

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [149]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [56]:
print(data[data.budget == data.budget.max()].original_title)
data[data.budget == data.budget.max()].imdb_id

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [150]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'
# +

In [12]:
print(data[data.runtime == data.runtime.max()].original_title)
data[data.runtime == data.runtime.max()].imdb_id

1157    Gods and Generals
Name: original_title, dtype: object

1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [151]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
# +

In [13]:
print(data[data.runtime == data.runtime.min()].original_title)
data[data.runtime == data.runtime.min()].imdb_id

768    Winnie the Pooh
Name: original_title, dtype: object

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [152]:
answers['4'] = 110
# +

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [153]:
answers['5'] = 107
# +

In [17]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [154]:
answers['6'] = '239. Avatar (tt0499549)'
# +

In [20]:
print(data[(data.revenue - data.budget) == profit.max()].original_title)
data[(data.revenue - data.budget) == profit.max()].imdb_id

239    Avatar
Name: original_title, dtype: object

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [155]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
# +

In [23]:
print(data[(data.revenue - data.budget) == profit.min()].original_title)
data[(data.revenue - data.budget) == profit.min()].imdb_id

1245    The Lone Ranger
Name: original_title, dtype: object

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [156]:
answers['8'] = 1478
# +

In [26]:
data[data.revenue - data.budget > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [157]:
answers['9'] = '599. The Dark Knight (tt0468569)'
# +

In [47]:
data1 = data[data.release_year == 2008]
print(data1[data1.revenue == data1.revenue.max()].original_title)
data1[data1.revenue == data1.revenue.max()].imdb_id

599    The Dark Knight
Name: original_title, dtype: object

599    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [158]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
# +

In [51]:
data1 = data[(data.release_year > 2011) & ((data.release_year < 2015))]
print(data1[data1.revenue-data1.budget == profit.min()].original_title)
data1[data1.revenue-data1.budget == profit.min()].imdb_id

1245    The Lone Ranger
Name: original_title, dtype: object

1245    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?

In [159]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
# +

In [6]:
GenresDict = {}
data.genres.apply(GenreCount)
Max = 0
Popular = ''
for genre, amount in GenresDict.items():
    if amount > Max:
        Max = amount
        Popular = genre
Popular

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [160]:
answers['12'] = 'Drama'
# +

In [27]:
GenresDict = {}
data1 = data[(data.budget - data.revenue) > 0]
data1.genres.apply(GenreCount)
Max = 0
Popular = ''
for genre, amount in GenresDict.items():
    if amount > Max:
        Max = amount
        Popular = genre
Popular

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [161]:
answers['13'] = 'Peter Jackson'
# +

In [213]:
Sum = data.groupby(['director'])['revenue'].sum()
Sum = Sum.reset_index()
Sum[Sum.revenue == Sum.revenue.max()].director

689    Peter Jackson
Name: director, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [162]:
answers['14'] = 'Robert Rodriguez'
# +

In [178]:
data = pd.read_csv('movie_bd_v5.xls')
Action = data.genres.apply(FindAction)
data.genres = Action
data[data.genres == 'Action'].director.value_counts()
#Director

Michael Bay                    7
Paul W.S. Anderson             7
Robert Rodriguez               6
Antoine Fuqua                  6
Ridley Scott                   6
                              ..
Brian Taylor|Mark Neveldine    1
Rob Minkoff                    1
Kurt Wimmer                    1
Sanjay Gadhvi                  1
John Erick Dowdle              1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [163]:
answers['15'] = 'Chris Hemsworth'
# +

In [150]:
Actor = data[data.release_year == 2012]
Actor[Actor.revenue == Actor.revenue.max()].cast

970    Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...
Name: cast, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [164]:
answers['16'] = 'Matt Damon'
# +

In [269]:
Actor = data[data.budget > data.budget.mean()]
Actor.cast.apply(ActorCount)

0       Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1       Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2       Shailene Woodley|Theo James|Kate Winslet|Ansel...
3       Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4       Vin Diesel|Paul Walker|Jason Statham|Michelle ...
                              ...
1870    Eddie Murphy|Janet Jackson|Larry Miller|John A...
1872    James Spader|Angela Bassett|Robert Forster|Lou...
1875    Bruce Willis|Spencer Breslin|Emily Mortimer|Li...
1884    Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...
1886    Rene Russo|Jason Alexander|Piper Perabo|Randy ...
Name: cast, Length: 671, dtype: object

In [275]:
Max = 0
artist = ''
for key in Actors.keys():
    if Actors[key] > Max:
        Max = Actors[key]
        artist = key

artist

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [165]:
answers['17'] = 'Action'
# +

In [180]:
data = pd.read_csv('movie_bd_v5.xls')
GenresDict = {}
Cage = data.cast.apply(FindCage)
data1 = data
data1.cast = Cage
data1 = data1[data1.cast == 'Nicolas Cage']
data1.genres.apply(GenreCount)
Max = 0
Popular = ''
for genre, amount in GenresDict.items():
    if amount > Max:
        Max = amount
        Popular = genre
Popular

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [166]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [158]:
Film = data[data.production_companies.str.contains("Paramount Pictures")]
profit = Film.revenue - Film.budget
print(Film[Film.revenue - Film.budget == profit.min()].original_title)
Film[Film.revenue - Film.budget == profit.min()].imdb_id

925    K-19: The Widowmaker
Name: original_title, dtype: object

925    tt0267626
Name: imdb_id, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [167]:
answers['19'] = '2015'
# +

In [224]:
Success = data.groupby(['release_year'])['revenue'].sum()
Success = Success.reset_index()
Success[Success.revenue.max() == Success.revenue].release_year

15    2015
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [168]:
answers['20'] = '2014'
# +

In [182]:
Profit = data[data.production_companies.str.contains("Warner Bros")]
Profit = Profit.groupby(['release_year'])['revenue'].sum()
Profit = Profit.reset_index()
Profit[Profit.revenue == Profit.revenue.max()].release_year

14    2014
Name: release_year, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [169]:
answers['21'] = 'Сентябрь'
# +

In [201]:
data.release_date.apply(MonthCounter).value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [170]:
answers['22'] = '450'
# +

In [204]:
data.release_date.apply(SummerFilms).value_counts()

Фильм вышел не летом    1439
Фильм вышел летом        450
Name: release_date, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [171]:
answers['23'] = 'Peter Jackson'
# +

In [104]:
data = pd.read_csv('movie_bd_v5.xls')
Director = data.release_date.apply(WinterFilms23)
data.release_date = Director
data = data[data.release_date == 'Winter']
Director = data.pivot_table(values = 'revenue', index = 'director', columns = 'release_date', aggfunc = 'sum', fill_value = 0)
Director.columns = ['revenue']
Director[Director.revenue == Director.revenue.max()]

                  revenue
director
Peter Jackson  6490593685

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [172]:
answers['24'] = 'Four By Two Productions'
# +

In [125]:
Titles = {}
LengthTitle = data.original_title.apply(lambda x : len(x))
LengthTitle
Companies = data.production_companies.apply(lambda line : line.split('|'))
Companies
iteration = 0


for CompanyList in Companies:
    for company in CompanyList:
        if company in Titles.keys():
            Titles[company][1] += LengthTitle[iteration]
            Titles[company][0] += 1
        else:
            Titles[company] = [1, LengthTitle[iteration]]
    iteration += 1

Max = 0
Company = ''

for company in Titles.keys():
    Titles[company] = Titles[company][1]/Titles[company][0]
    if Titles[company] > Max:
        Max = Titles[company]
        Company = company
        
Company

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [173]:
answers['25'] = 'Midnight Picture Show'
# +

In [122]:
CompanyDict = {}
LengthOverview = data.overview.apply(lambda x : len(x))
LengthOverview
Companies = data.production_companies.apply(lambda line : line.split('|'))
Companies
iteration = 0


for CompanyList in Companies:
    for company in CompanyList:
        if company in CompanyDict.keys():
            CompanyDict[company][1] += LengthOverview[iteration]
            CompanyDict[company][0] += 1
        else:
            CompanyDict[company] = [1, LengthOverview[iteration]]
    iteration += 1

Max = 0
Company = ''

for company in CompanyDict.keys():
    CompanyDict[company] = CompanyDict[company][1]/CompanyDict[company][0]
    if CompanyDict[company] > Max:
        Max = CompanyDict[company]
        Company = company
        
Company

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [174]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [93]:
BestFilms = data.sort_values(['vote_average'], ascending = False)
BestFilms = BestFilms.head(18)
BestFilms = list(BestFilms.original_title)
sorted(BestFilms)

['12 Years a Slave',
 'Big Hero 6',
 'Gone Girl',
 'Guardians of the Galaxy',
 'Her',
 'Inception',
 'Inside Out',
 'Interstellar',
 'Memento',
 'Room',
 'Spotlight',
 'The Dark Knight',
 'The Fault in Our Stars',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'The Lord of the Rings: The Return of the King',
 'The Pianist',
 'The Wolf of Wall Street']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [175]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [137]:
ActorsDict = {}
Actors = data.cast.apply(lambda x : x.split('|'))
for ActorsLine in Actors:
    for j in range(0, len(ActorsLine)-1):
        for i in range(j+1, len(ActorsLine)):
            s1 = ActorsLine[j]+' & '+ActorsLine[i]
            s2 = ActorsLine[i]+' & '+ActorsLine[j]
            if (s1 in ActorsDict.keys()) & (s2 not in ActorsDict.keys()):
                ActorsDict[s1] += 1
            else:
                if (s1 not in ActorsDict.keys()) & (s2 in ActorsDict.keys()):
                    ActorsDict[s2] += 1
                else:
                    ActorsDict[s1] = 1

Max = 0
Couple = ''
for couple in ActorsDict.keys():
    if ActorsDict[couple] > Max:
        Max = ActorsDict[couple]
        Couple = couple
Couple

'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [176]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'25': 'Midnight Picture Show',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450'}

In [177]:
# и убедиться что ни чего не пропустил)
len(answers)

27